.container{
    /* border: 1px solid gray; */
    width: 25vw;
    height: 72vh;
    border-radius: 1em;
    margin: 50px;
    position: relative;
    box-shadow: 0px 0px 8px 8px lightgray;
   
}
.imgArea{
    background-image: url(pic.jpg);
    width: 95%;
    height: 40vh;
    margin: 10px;
    border-radius: 1em;
    position: relative;
    top: 10px;
}
.lis{
    position: relative;
}
.lis nav ul li{
    list-style: none;
    display: inline;
    border: 0.5px solid lightgray;
    border-radius: 1em;
    box-shadow: inset;
    padding: 10px;
    margin: 5px;
    position: relative;
    top: 15px;
}
.content{
    margin: 10px;
    padding: 10px;
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container button{
    border-radius: 2em;
    padding: 10px;
    color: blue;
    background-color: rgb(228, 239, 243);
    margin-left: 150px;
    border: 1px solid lightgray;
    font-weight: 700;
}